name: Get OIDC Token

on:
  workflow_dispatch:

permissions:
  id-token: write   # REQUIRED
  contents: read

jobs:
  print-token:
    runs-on: ubuntu-latest
    steps:
      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Get ID Token
        uses: actions/github-script@v6
        with:
          script: |
            const core = require('@actions/core');

            const token = await core.getIDToken('https://api.doppler.com');

            console.log("::warning::OIDC TOKEN BELOW");
            console.log(token);
